.banner{
  position: relative;
  background: url('../../components/assets/ford-ranger_rd5m4t.jpg') no-repeat center center/cover;
  width: 100%;
  padding: 100px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
  }

  title,p,button {
    position: relative;
    z-index: 2;
    text-align: center;
  }

  .title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  p {
    max-width: 800px;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 0px;
  }

  button {
    padding: 10px 30px;
    font-size: 20px;
    background-color: #0e66c4;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
    &:hover {
      opacity: 0.8;
    }
  }
}
